In [ ]:
#pip install finance-datareader
# pip install --upgrade finance-datareader

In [1]:
import FinanceDataReader as fdr

In [2]:
df = fdr.DataReader('AAPL','2017')

In [3]:
df.head()

             Close    Open    High     Low      Volume  Change
Date
2017-01-03  116.15  115.80  116.33  114.76  28780000.0  0.0028
2017-01-04  116.02  115.85  116.51  115.75  21120000.0 -0.0011
2017-01-05  116.61  115.92  116.86  115.81  22190000.0  0.0051
2017-01-06  117.91  116.78  118.16  116.47  31750000.0  0.0111
2017-01-09  118.99  117.95  119.43  117.94  33560000.0  0.0092

In [12]:
df.tail()

             Close    Open    High     Low      Volume  Change
Date
2019-08-16  206.50  204.28  207.16  203.84  28810000.0  0.0236
2019-08-19  210.35  210.62  212.73  210.03  24430000.0  0.0186
2019-08-20  210.36  210.88  213.35  210.32  26920000.0  0.0000
2019-08-21  212.64  212.99  213.65  211.60  21560000.0  0.0108
2019-08-22  212.46  213.08  214.46  210.78  22270000.0 -0.0008

In [4]:
df_krx = fdr.StockListing('KRX')

In [5]:
df_krx.head()

,Symbol,Name,Sector,Industry
0,155660,DSR,1차 비철금속 제조업,합섬섬유로프
1,001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
2,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
3,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
4,011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업

In [6]:
fdr.__version__

'0.8.0'

In [7]:
df_krx = fdr.StockListing('KRX')
df_krx.head()

,Symbol,Name,Sector,Industry
0,155660,DSR,1차 비철금속 제조업,합섬섬유로프
1,001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
2,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
3,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
4,011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업

In [8]:
len(df_krx)

2303

In [9]:
df_snp = fdr.StockListing('S&P500')
df_snp.head()

,Symbol,Name,Sector,Industry
0,MMM,3M Company,Industrials,Industrial Conglomerates
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment
2,ABBV,AbbVie Inc.,Health Care,Pharmaceuticals
3,ABMD,ABIOMED Inc,Health Care,Health Care Equipment
4,ACN,Accenture plc,Information Technology,IT Consulting & Other Services

In [10]:
len(df_snp)

505

In [ ]:
fdr.DataReader

In [13]:
df.tail()

             Close    Open    High     Low      Volume  Change
Date
2019-08-16  206.50  204.28  207.16  203.84  28810000.0  0.0236
2019-08-19  210.35  210.62  212.73  210.03  24430000.0  0.0186
2019-08-20  210.36  210.88  213.35  210.32  26920000.0  0.0000
2019-08-21  212.64  212.99  213.65  211.60  21560000.0  0.0108
2019-08-22  212.46  213.08  214.46  210.78  22270000.0 -0.0008

In [14]:
df['Close'].plot()

In [15]:
import urllib.request
from bs4 import BeautifulSoup

In [18]:
# 하이트 진로 : 000080
# 삼성전자 : 005930
url = 'http://companyinfo.stock.naver.com/company/c1010001.aspx?cmp_cd=005930&fin_typ=0&freq_typ=Y'
f = urllib.request.urlopen(url).read()
soup = BeautifulSoup(f,'html.parser')

# 'Class' 속성값이 'num'인 'b' 태그를 모두 찾는다.
bs = soup.find_all('b',{'class':'num'})
for index, b in enumerate(bs):
    if index == 3:
        print(b.get_text())

7.31

In [19]:
# 하이트 진로 : 000080
# 삼성전자 : 005930
url = 'http://companyinfo.stock.naver.com/company/c1010001.aspx?cmp_cd=000080&fin_typ=0&freq_typ=Y'
f = urllib.request.urlopen(url).read()
soup = BeautifulSoup(f,'html.parser')

# 'Class' 속성값이 'num'인 'b' 태그를 모두 찾는다.
bs = soup.find_all('b',{'class':'num'})
for index, b in enumerate(bs):
    if index == 3:
        print(b.get_text())

70.63

In [28]:
# 하이트 진로 : 000080
# 삼성전자 : 005930
url = 'https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cmp_cd=000080'
f = urllib.request.urlopen(url).read()
soup = BeautifulSoup(f,'html.parser')

# # 'Class' 속성값이 'num'인 'b' 태그를 모두 찾는다.
# bs = soup.find_all('b',{'class':'num'})
# for index, b in enumerate(bs):
#     if index == 3:
#         print(b.get_text())

In [ ]:
soup

In [26]:
soup.find_all(string='ROA(%)')

[]

In [74]:
url = 'https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cmp_cd=000080'
# url = 'https://finance.daum.net/quotes/A000080#analysis/main'
# url = "http://finance.naver.com/item/main.nhn?code=000660#"
# url = 'https://wisefn.finance.daum.net/v1/company/c1010001.aspx?cmp_cd=000080'
res = requests.get(url)

# f = urllib.request.urlopen(url).read()
res_df = pd.read_html(res.text)

In [75]:
# url = 'https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cmp_cd=000080' # 오픈시
res = requests.get(url)
res_df = pd.read_html(res.text)
# res_df[5]

        주요지표 2018/12(A) 2019/12(E)
0        PER      70.63     641.42
1        PBR       1.32       1.40
2        PCR      11.15      11.07
3  EV/EBITDA      10.93      11.25
4        EPS       312원        34원
5        BPS    16,648원    15,802원
6     EBITDA  2,046.1억원  2,210.3억원
7      현금DPS       800원       800원
8    현금배당수익률      3.63%      3.63%
9       회계기준         연결         연결

In [67]:
# url = 'https://wisefn.finance.daum.net/v1/company/c1010001.aspx?cmp_cd=000080' # 오픈시
res = requests.get(url)
res_df = pd.read_html(res.text)
# res_df[13]

       항목명                                               상세기준
0    CAPEX                                            유형자산의증가
1      FCF                                 영업활동으로인한현금흐름-CAPEX
2   이자발생부채          단기사채+단기차입금+유동성장기부채+단기금융부채+사채+장기차입금+장기금융부채
3    영업이익률                                       영업이익/매출액(수익)
4     순이익률                                      당기순이익/매출액(수익)
5      ROE  (지배주주지분)당기순이익[당기]/((지배주주지분)자본총계[당기]+(지배주주지분)자본...
6      ROA                    당기순이익[당기]/(자산총계[당기]+자산총계[전기]/2)
7     부채비율                                          부채총계/자본총계
8    자본유보율                                  (자본잉여금+이익잉여금)/자본금
9      EPS              (지배주주지분)당기순이익*1000/수정평균발행주식수(보통주+우선주)
10     PER                                    보통주수정주가(기말)/EPS
11     BPS             (지배주주지분)자본총계/수정기말발행주식수(보통주+우선주, 자사주차감)
12     PBR                                    보통주수정주가(기말)/BPS
13   수정DPS             DPS에 자본금변동이벤트 시 수정계수가 발생하는 경우 수정계수를 적용
14   현금배당률                                  수정DPS/보통주수정주가(기말)
15  현금배당성향                            현금배당액(전체)/(지배주주지분)당기순이익
16   발행주식수  보통주 기말발행주식수 (자본금 변동 이벤트 중 수정계수가 발생하는 경우 과거 데이터...

In [ ]:
import pandas as pd
import urllib.request
import requests
from bs4 import BeautifulSoup
import re

# requests랑 urllib.request.urlopen이랑 다르네.

#### PER 크롤링

In [103]:
PER_URL = 'https://wisefn.finance.daum.net/v1/company/c1010001.aspx?cmp_cd=000080'
# ROA_URL = 'https://wisefn.finance.daum.net/v1/company/cF1001.aspx?cmp_cd=000080&finGubun=MAIN'
f = urllib.request.urlopen(PER_URL).read()
soup = BeautifulSoup(f,'html.parser')
# 'Class' 속성값이 'num'인 'b' 태그를 모두 찾는다.
bs = soup.find_all('b',{'class':'num'})

-95.11

In [104]:
for index, b in enumerate(bs):
    if index == 2:
        print(b.get_text())

70.63

#### ROA 크롤링

In [83]:
# PER_URL = 'https://wisefn.finance.daum.net/v1/company/c1010001.aspx?cmp_cd=000080'
ROA_URL = 'https://wisefn.finance.daum.net/v1/company/cF1001.aspx?cmp_cd=000080&finGubun=MAIN'
f = urllib.request.urlopen(ROA_URL).read()
soup = BeautifulSoup(f,'html.parser')
# 다차원 배열 문자열을 찾기 위해 패턴 설정   
p = re.compile("changeFinData.*?\;", re.DOTALL)
cfd_list = p.findall(soup.prettify())
# 불필요한 문자열 제거
cfd_str = cfd_list[0].replace('\n','').replace('changeFinData = ','').replace(';','')
cfd = eval(cfd_str)

In [102]:
print(cfd[3][0][6][0] , ' :: ' ,cfd[3][0][6][-1])

ROA(%)  ::  0.64

In [109]:
df_krx.to_csv('krx_all_codes.csv')