### 2.1.1 파이썬 Datetime
#### 날짜변환

In [1]:
import datetime
format = '%Y-%m-%d %H:%M:%S' 
datetime_str = '2018-05-13 12:34:56'
datetime_dt = datetime.datetime.strptime(datetime_str, format)
print(type(datetime_dt))
print(datetime_dt)

<class 'datetime.datetime'>
2018-05-13 12:34:56

In [2]:
datetime_str = datetime_dt.strftime('%Y-%m-%d %H:%M:%S')

print(type(datetime_str)) # <class 'str'>
print(datetime_str)       # 2018-08-24 18:00:25

<class 'str'>
2018-05-13 12:34:56

In [3]:
datetime_str = datetime_dt.strftime('%Y-%m-%d %H')

print(type(datetime_str)) # <class 'str'>
print(datetime_str)       # 2018-08-24 18:00:25

<class 'str'>
2018-05-13 12

In [4]:
datetime_str = datetime_dt.strftime('%Y-%m')

print(type(datetime_str)) # <class 'str'>
print(datetime_str)       # 2018-08-24 18:00:25

<class 'str'>
2018-05

In [5]:
import pandas as pd
pd.to_datetime('2019-01-01')

Timestamp('2019-01-01 00:00:00')

#### timedelta 객체 사용하기.

In [6]:
import datetime
# 임의의 시간간격을 정의한다.
td = datetime.timedelta(days=100) # 100일을 뜻한다.
datetime.datetime(2019,1,1) + td # 2019년 1월 1일 후 100일 뒤 날짜가 보인다.

datetime.datetime(2019, 4, 11, 0, 0)

In [7]:
dt1 = datetime.datetime(2019, 1, 1, 14)
dt2 = datetime.datetime(2019, 2, 1, 14)
td = dt2 - dt1
td  # 날짜 차이를 보여준다.

datetime.timedelta(31)

### 2.1.2 Numpy 날짜와 시간
#### 1. datetime64 살펴보기

In [8]:
import numpy as np
np.datetime64(1000,'ns')

numpy.datetime64('1970-01-01T00:00:00.000001000')

In [9]:
np.datetime64(10000000000,'ns')

numpy.datetime64('1970-01-01T00:00:10.000000000')

In [10]:
np.datetime64(1000000000,'s')

numpy.datetime64('2001-09-09T01:46:40')

In [11]:
np.datetime64(10000,'D')

numpy.datetime64('1997-05-19')

In [12]:
#  str type을 ISO 8601 format을 이용해서 사용할 수 있다.
import numpy as np
np.datetime64('2019-01-01')

numpy.datetime64('2019-01-01')

In [13]:
np.array(['2007-07-13', '2006-01-13', '2010-08-13'], dtype='datetime64')

array(['2007-07-13', '2006-01-13', '2010-08-13'], dtype='datetime64[D]')

In [14]:
np.arange('2005-02', '2006-03', dtype='datetime64[M]')

array(['2005-02', '2005-03', '2005-04', '2005-05', '2005-06', '2005-07',
       '2005-08', '2005-09', '2005-10', '2005-11', '2005-12', '2006-01',
       '2006-02'], dtype='datetime64[M]')

In [15]:
np.datetime64('2009-01-01') - np.datetime64('2008-01')

numpy.timedelta64(366,'D')

In [16]:
np.datetime64('2009-01-01') - np.datetime64('2008-01-01')

numpy.timedelta64(366,'D')

#### timedelta 살펴보기

In [17]:
np.timedelta64(10, 'h') #10 hours

numpy.timedelta64(10,'h')

In [18]:
np.datetime64('2019-01-01') + np.timedelta64(10, 'h')

numpy.datetime64('2019-01-01T10','h')

### 2.1.3 pandas 예제 살펴보기

In [19]:
import pandas as pd

In [20]:
pd.Timestamp(1239.1238934) #defautls to nanoseconds

Timestamp('1970-01-01 00:00:00.000001239')

In [21]:
pd.Timestamp(1239.1238934, unit='D') # change units

Timestamp('1973-05-24 02:58:24.389760')

In [22]:
pd.Timestamp('2019-1-1') # partial strings work

Timestamp('2019-01-01 00:00:00')

In [23]:
pd.to_datetime('2019-1-1 12')

Timestamp('2019-01-01 12:00:00')

In [24]:
pd.to_datetime(['2018-1-1', '2019-1-2'])

DatetimeIndex(['2018-01-01', '2019-01-02'], dtype='datetime64[ns]', freq=None)

In [25]:
pd.date_range('2019-01','2019-02')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20',
               '2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24',
               '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28',
               '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01'],
              dtype='datetime64[ns]', freq='D')

#### Period

In [26]:
pd.Period('2019-01')

Period('2019-01', 'M')

In [27]:
pd.Period('2019-05', freq='D')

Period('2019-05-01', 'D')

In [28]:
pd.period_range('2019-01','2019-02',freq='D')

PeriodIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
             '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
             '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
             '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
             '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20',
             '2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24',
             '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28',
             '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01'],
            dtype='period[D]', freq='D')

### timestamp vs Time spans

In [29]:
p = pd.Period('2019-06-13')
test = pd.Timestamp('2019-06-13 22:11')
p.start_time < test < p.end_time

True

### Frequency

In [30]:
pd.date_range('2019-01','2019-02',freq='B')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18', '2019-01-21', '2019-01-22',
               '2019-01-23', '2019-01-24', '2019-01-25', '2019-01-28',
               '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01'],
              dtype='datetime64[ns]', freq='B')

In [31]:
pd.date_range('2019-01','2019-02',freq='W')

DatetimeIndex(['2019-01-06', '2019-01-13', '2019-01-20', '2019-01-27'], dtype='datetime64[ns]', freq='W-SUN')

In [32]:
pd.date_range('2019-01','2019-02',freq='W-MON')

DatetimeIndex(['2019-01-07', '2019-01-14', '2019-01-21', '2019-01-28'], dtype='datetime64[ns]', freq='W-MON')

### timedelata

In [33]:
#strings
pd.Timedelta('1 days')
pd.Timedelta('1 days 00:00:00')
pd.Timedelta('1 days 2 hours')
pd.Timedelta('-1 days 2 min 3us')

Timedelta('-2 days +23:57:59.999997')

In [34]:
pd.Timestamp('2019-1-1') + pd.Timedelta('1 days 2 hours')

Timestamp('2019-01-02 02:00:00')

In [35]:
# like datetime.timedelta
# note: these MUST be specified as keyword arguments
pd.Timedelta(days=1, seconds=1)

Timedelta('1 days 00:00:01')

In [36]:
pd.Timestamp('2019-1-1') + pd.Timedelta(days=1, seconds=1)

Timestamp('2019-01-02 00:00:01')

In [37]:
# integers with a unit
pd.Timedelta(1, unit='d')

Timedelta('1 days 00:00:00')

In [38]:
pd.Timestamp('2019-1-1') + pd.Timedelta(1, unit='d')

Timestamp('2019-01-02 00:00:00')

In [39]:
# from a datetime.timedelta/np.timedelta64
pd.Timedelta(datetime.timedelta(days=1, seconds=1))

Timedelta('1 days 00:00:01')

In [40]:
pd.Timestamp('2019-1-1') + pd.Timedelta(datetime.timedelta(days=1, seconds=1))

Timestamp('2019-01-02 00:00:01')

In [41]:
pd.Timedelta(np.timedelta64(1, 'ms'))

Timedelta('0 days 00:00:00.001000')

In [42]:
pd.Timestamp('2019-1-1') + pd.Timedelta(np.timedelta64(1, 'ms'))

Timestamp('2019-01-01 00:00:00.001000')

### Basic
#### time 객체 사용하기.
#### date 객체 사용하기.
#### datetime 객체 사용하기.

In [43]:
import datetime
datetime.time(hour=4,minute=3,second=10,microsecond=1000)
datetime.time(4,3,10)

import datetime
datetime.date(year=2019,month=1,day=10)
datetime.date(2019,2,10)

datetime.MINYEAR 
datetime.MAXYEAR

import datetime
datetime.datetime(year=2019,month=10,day=24,hour=4,minute=3,second=10,microsecond=1000)

datetime.datetime(2019,10,1)
# datetime.datetime('2019-01-01')

datetime.datetime(2019, 10, 1, 0, 0)